* {
  box-sizing: border-box;
}
.top-page-header {
  height: 120px;
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}

.search-bar-contents {
  display: flex;
  align-items: center;
}

.books-icon {
  width: 70px;
}
.book-title {
  position: relative;
  padding: 25px 15px;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.book-title:before, .book-title:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height:   95px;
  background-color: black;
}
.book-title:before {
  left: 7px;
}
.book-title:after {
  right: 7px;
}



.nav {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.item-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username{
  margin-right: 3vw;
}

