.second-header {
  width: 50%;
  min-width: 800px;
  height: 130px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 90px;
  height: 90px;
}